body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    margin: 0;
}

*, *:before,*:after {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("/media/images/background_intro/intro.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.nav {
    text-transform: uppercase;
    font-size: 25px;
}
.nav_link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: black;
    transition: color .2s linear;
    margin: 0 15px;
    position: relative;
}

.intro_title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;

}
.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

